In [153]:
import pandas as pd
import datetime

In [154]:
data_o = 'C:/Users/catal/Desktop/py/7-panda/ireland_wind.txt'
data = pd.read_csv(data_o, sep = '\s+', parse_dates = [[0, 1, 2]])
data.head(3)

# data
# 出來結果是 2070 ~ 2072、1973 ~ 1978

C:\Users\catal\AppData\Local\Temp\ipykernel_47164\4094267421.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data = pd.read_csv(data_o, sep = '\s+', parse_dates = [[0, 1, 2]])

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2070-01-01,9.59,2.96,11.79,3.42,6.13,4.08,9.00,4.46,7.29,3.50,7.33,13.00
1,2070-01-02,9.00,4.29,6.75,4.58,5.79,6.58,8.58,6.21,9.59,6.04,10.17,16.96
2,2070-01-03,8.08,7.46,11.71,3.58,4.50,3.63,5.13,4.75,3.13,2.50,12.54,18.25

In [155]:
# 調整跑掉的日期
def fix(x):
    if x.year >= 2070:
        year = x.year - 100
    else:
        year = x.year
    return datetime.datetime(year, x.month, x.day)

data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix)
data 

# data.to_csv('output.csv', index=False)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1970-01-01,9.59,2.96,11.79,3.42,6.13,4.08,9.00,4.46,7.29,3.50,7.33,13.00
1,1970-01-02,9.00,4.29,6.75,4.58,5.79,6.58,8.58,6.21,9.59,6.04,10.17,16.96
2,1970-01-03,8.08,7.46,11.71,3.58,4.50,3.63,5.13,4.75,3.13,2.50,12.54,18.25
3,1970-01-04,11.21,7.38,11.58,2.13,3.29,1.13,8.92,4.92,5.54,5.71,7.58,15.54
4,1970-01-05,10.46,5.29,10.83,3.63,4.75,5.29,12.33,5.83,6.79,6.21,11.83,20.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
3283,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
3284,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
3285,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
3286,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [156]:
# # apply 練習
# data.apply(代入def名稱)
# 前面x是一個參數, 輸入每一個data值
import pandas as pd

data_apply = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

def multiply_by_two(x):
    return x * 2

result = data_apply.apply(multiply_by_two)

print(result)

   A   B
0  2   8
1  4  10
2  6  12

In [157]:
# 日期設為index
data.index = pd.to_datetime(data['Yr_Mo_Dy'])
data

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,,
1970-01-01,1970-01-01,9.59,2.96,11.79,3.42,6.13,4.08,9.00,4.46,7.29,3.50,7.33,13.00
1970-01-02,1970-01-02,9.00,4.29,6.75,4.58,5.79,6.58,8.58,6.21,9.59,6.04,10.17,16.96
1970-01-03,1970-01-03,8.08,7.46,11.71,3.58,4.50,3.63,5.13,4.75,3.13,2.50,12.54,18.25
1970-01-04,1970-01-04,11.21,7.38,11.58,2.13,3.29,1.13,8.92,4.92,5.54,5.71,7.58,15.54
1970-01-05,1970-01-05,10.46,5.29,10.83,3.63,4.75,5.29,12.33,5.83,6.79,6.21,11.83,20.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [158]:
data.dtypes

Yr_Mo_Dy    datetime64[ns]
RPT                float64
VAL                float64
ROS                float64
KIL                float64
SHA                float64
BIR                float64
DUB                float64
CLA                float64
MUL                float64
CLO                float64
BEL                float64
MAL                float64
dtype: object

In [159]:
# 取 RPT 前十高
top_10_rpt = data.sort_values('RPT', ascending=False).head(10)
top_10_rpt

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,,
1978-01-28,1978-01-28,35.38,29.88,18.00,15.96,26.92,15.67,15.87,26.34,15.04,17.75,34.42,35.83
1977-03-10,1977-03-10,33.84,26.92,24.41,20.08,23.75,20.58,20.21,18.71,21.92,22.75,23.09,27.58
1972-02-02,1972-02-02,33.84,26.38,28.16,18.41,24.25,22.50,25.04,20.79,19.92,20.96,24.21,33.63
1975-01-13,1975-01-13,33.12,25.58,25.88,19.00,21.79,17.50,19.62,20.91,21.00,21.54,28.71,28.71
1971-03-19,1971-03-19,33.04,25.41,26.75,20.46,23.50,18.46,24.25,19.21,19.79,23.63,26.58,35.00
1974-01-16,1974-01-16,31.75,22.67,23.21,12.96,19.17,13.13,16.96,12.71,13.70,14.29,18.08,28.79
1970-09-09,1970-09-09,31.42,28.50,28.21,20.33,30.00,20.67,22.37,18.29,21.46,22.42,25.75,27.75
1977-11-11,1977-11-11,30.84,30.34,26.42,18.05,25.80,17.71,24.13,21.29,19.21,20.71,25.84,29.58
1972-12-28,1972-12-28,30.42,20.30,17.08,14.12,14.17,11.96,14.33,12.42,13.70,11.54,15.87,16.04
1978-11-14,1978-11-14,30.21,27.63,25.46,16.96,19.21,14.04,17.54,16.29,13.96,13.62,20.58,27.42

In [160]:
# 取 RPT 前十高_2
top_10_rpt = data.sort_values('RPT', ascending=False).head(10)['RPT']
top_10_rpt

Yr_Mo_Dy
1978-01-28    35.38
1977-03-10    33.84
1972-02-02    33.84
1975-01-13    33.12
1971-03-19    33.04
1974-01-16    31.75
1970-09-09    31.42
1977-11-11    30.84
1972-12-28    30.42
1978-11-14    30.21
Name: RPT, dtype: float64

In [161]:
# 取 RPT 總平均
rpt_mean = round(data['RPT'].mean(),2)
rpt_mean

12.35

In [162]:
# 取 詳細統計資料
data.describe()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,3287,3287.000000,3287.000000,3287.000000,3287.000000,3287.000000,3287.000000,3287.000000,3287.000000,3287.000000,3287.000000,3287.000000,3287.000000
mean,1974-07-02 00:00:00,12.350888,10.617791,11.580733,5.766307,9.821524,6.848643,9.443465,8.049933,8.779589,7.996800,12.770201,15.892972
min,1970-01-01 00:00:00,0.790000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.670000,2.040000
25%,1972-04-01 12:00:00,8.120000,6.580000,8.040000,3.290000,6.170000,3.880000,5.830000,4.750000,5.710000,4.670000,8.420000,10.880000
50%,1974-07-02 00:00:00,11.750000,10.210000,10.880000,5.210000,9.380000,6.630000,8.870000,7.620000,8.460000,7.380000,12.120000,15.370000
75%,1976-09-30 12:00:00,15.830000,14.105000,14.460000,7.710000,12.830000,9.310000,12.420000,10.830000,11.460000,10.830000,16.500000,20.230000
max,1978-12-31 00:00:00,35.380000,30.340000,32.750000,20.460000,33.040000,22.500000,28.160000,26.340000,25.000000,23.750000,38.200000,41.460000
std,NaN,5.570104,5.344004,4.825248,3.337629,4.826257,3.834319,4.795975,4.372555,4.102715,4.361212,5.751142,6.721165

In [163]:
# 取 所有城市 min, max, mean, std
day_st = pd.DataFrame()
day_st['min'] = data.drop('Yr_Mo_Dy', axis=1).min(axis=1)
day_st['max'] = data.drop('Yr_Mo_Dy', axis=1).max(axis=1)
day_st['mean'] = data.drop('Yr_Mo_Dy', axis=1).mean(axis=1)
day_st['std'] = data.drop('Yr_Mo_Dy', axis=1).std(axis=1)
day_st

             min    max       mean       std
Yr_Mo_Dy
1970-01-01  2.96  13.00   6.879167  3.395089
1970-01-02  4.29  16.96   7.878333  3.433082
1970-01-03  2.50  18.25   7.105000  4.803157
1970-01-04  1.13  15.54   7.077500  4.218867
1970-01-05  3.63  20.21   8.620833  4.725770
...          ...    ...        ...       ...
1978-12-27  8.08  40.08  16.708333  7.868076
1978-12-28  5.00  41.46  15.150000  9.687857
1978-12-29  8.71  29.58  14.890000  5.756836
1978-12-30  9.13  28.79  15.367500  5.540437
1978-12-31  9.59  27.29  15.402500  5.702483

[3287 rows x 4 columns]

In [165]:
# 每個城市 六月平均
data.loc[data.index.month == 6].mean()

Yr_Mo_Dy    1974-06-15 14:40:00
RPT                   10.672778
VAL                    8.910593
ROS                      10.666
KIL                    5.236259
SHA                    9.114222
BIR                    6.245333
DUB                    7.636333
CLA                    7.632889
MUL                    7.760481
CLO                    7.062333
BEL                   12.140222
MAL                   13.119259
dtype: object

In [166]:
# 每個城市 四~六月平均
mean_4 = data.loc[data.index.month == 4].mean()
mean_5 = data.loc[data.index.month == 5].mean()
mean_6 = data.loc[data.index.month == 6].mean()

combined_mean = pd.concat([mean_4, mean_5, mean_6], axis=1)
combined_mean

                            0                    1                    2
Yr_Mo_Dy  1974-04-15 14:40:00  1974-05-16 02:40:00  1974-06-15 14:40:00
RPT                 12.560667            11.608674            10.672778
VAL                 10.061259             9.630143             8.910593
ROS                 12.329741            11.316452               10.666
KIL                  6.155074             5.588172             5.236259
SHA                  9.725926             9.335161             9.114222
BIR                  6.885333             6.391649             6.245333
DUB                  9.599444             8.261685             7.636333
CLA                  8.222741             8.007742             7.632889
MUL                  8.983667             8.266416             7.760481
CLO                  8.336444             7.878889             7.062333
BEL                 12.051556            12.456308            12.140222
MAL                 14.728111            13.902652            13.119259

In [167]:
# 以每年每個月為群組的平均
data.groupby(data.index.to_period('M')).mean()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,,
1970-01,1970-01-16 00:00:00,13.152581,11.731935,13.083871,5.810968,9.507742,8.040323,9.843226,8.834194,8.407097,7.626452,12.403871,17.192903
1970-02,1970-02-14 12:00:00,14.820714,13.776071,12.643929,6.894643,11.923929,7.954643,11.837857,9.223214,10.339643,8.415357,14.899643,18.016786
1970-03,1970-03-16 00:00:00,14.941613,11.496129,13.180968,7.494194,11.484194,8.242581,12.160968,10.082581,10.936774,9.710645,15.041290,19.093226
1970-04,1970-04-15 12:00:00,14.733333,11.843667,12.711333,7.316667,10.938333,8.707333,11.171667,9.249667,10.004333,10.178333,13.237000,16.899667
1970-05,1970-05-16 00:00:00,10.185161,9.154194,9.720323,5.639677,10.465484,7.879355,8.982258,8.938387,9.251935,8.784516,13.989355,15.335161
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08,1978-08-16 00:00:00,9.645161,8.259355,9.032258,4.502903,7.368065,5.935161,5.650323,5.417742,7.241290,5.536774,10.466774,12.054194
1978-09,1978-09-15 12:00:00,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333
1978-10,1978-10-16 00:00:00,9.897742,8.670968,9.295806,4.721290,8.525161,6.774194,8.115484,7.337742,8.297742,8.243871,13.776774,17.150000
1978-11,1978-11-15 12:00:00,16.151667,14.802667,13.508000,7.317333,11.475000,8.743000,11.492333,9.657333,10.701333,10.676000,17.404667,20.723000
1978-12,1978-12-16 00:00:00,16.175484,13.748065,15.635161,7.094839,11.398710,9.241613,12.077419,10.194839,10.616774,11.028710,13.859677,21.371613

In [170]:
# 以每年每個月為群組的詳細統計資料
data.groupby(data.index.to_period('M')).describe()

         Yr_Mo_Dy
            count                 mean                  min
Yr_Mo_Dy
1970-01        31  1970-01-16 00:00:00  1970-01-01 00:00:00  \
1970-02        28  1970-02-14 12:00:00  1970-02-01 00:00:00
1970-03        31  1970-03-16 00:00:00  1970-03-01 00:00:00
1970-04        30  1970-04-15 12:00:00  1970-04-01 00:00:00
1970-05        31  1970-05-16 00:00:00  1970-05-01 00:00:00
...           ...                  ...                  ...
1978-08        31  1978-08-16 00:00:00  1978-08-01 00:00:00
1978-09        30  1978-09-15 12:00:00  1978-09-01 00:00:00
1978-10        31  1978-10-16 00:00:00  1978-10-01 00:00:00
1978-11        30  1978-11-15 12:00:00  1978-11-01 00:00:00
1978-12        31  1978-12-16 00:00:00  1978-12-01 00:00:00


                          25%                  50%                  75%
Yr_Mo_Dy
1970-01   1970-01-08 12:00:00  1970-01-16 00:00:00  1970-01-23 12:00:00  \
1970-02   1970-02-07 18:00:00  1970-02-14 12:00:00  1970-02-21 06:00:00
1970-03   1970-03-08 12:00:00  1970-03-16 00:00:00  1970-03-23 12:00:00
1970-04   1970-04-08 06:00:00  1970-04-15 12:00:00  1970-04-22 18:00:00
1970-05   1970-05-08 12:00:00  1970-05-16 00:00:00  1970-05-23 12:00:00
...                       ...                  ...                  ...
1978-08   1978-08-08 12:00:00  1978-08-16 00:00:00  1978-08-23 12:00:00
1978-09   1978-09-08 06:00:00  1978-09-15 12:00:00  1978-09-22 18:00:00
1978-10   1978-10-08 12:00:00  1978-10-16 00:00:00  1978-10-23 12:00:00
1978-11   1978-11-08 06:00:00  1978-11-15 12:00:00  1978-11-22 18:00:00
1978-12   1978-12-08 12:00:00  1978-12-16 00:00:00  1978-12-23 12:00:00

                                     RPT             ...    BEL
                          max  std count       mean  ...    max       std
Yr_Mo_Dy                                             ...
1970-01   1970-01-31 00:00:00  NaN  31.0  13.152581  ...  28.12  6.225835  \
1970-02   1970-02-28 00:00:00  NaN  28.0  14.820714  ...  24.83  6.638978
1970-03   1970-03-31 00:00:00  NaN  31.0  14.941613  ...  22.83  4.865635
1970-04   1970-04-30 00:00:00  NaN  30.0  14.733333  ...  25.29  4.397756
1970-05   1970-05-31 00:00:00  NaN  31.0  10.185161  ...  27.50  5.178862
...                       ...  ...   ...        ...  ...    ...       ...
1978-08   1978-08-31 00:00:00  NaN  31.0   9.645161  ...  21.79  4.084274
1978-09   1978-09-30 00:00:00  NaN  30.0  10.913667  ...  26.83  6.167271
1978-10   1978-10-31 00:00:00  NaN  31.0   9.897742  ...  21.29  4.341756
1978-11   1978-11-30 00:00:00  NaN  30.0  16.151667  ...  24.17  5.438130
1978-12   1978-12-31 00:00:00  NaN  31.0  16.175484  ...  26.08  6.632877

           MAL
         count       mean    min      25%     50%      75%    max       std
Yr_Mo_Dy
1970-01   31.0  17.192903   5.96  12.2500  16.960  21.7300  32.00  6.337798
1970-02   28.0  18.016786   5.29  13.6175  17.685  22.9725  28.96  6.478443
1970-03   31.0  19.093226   7.17  14.2950  19.790  23.6250  34.08  6.411016
1970-04   30.0  16.899667   8.75  12.7050  16.810  20.8250  25.12  4.638515
1970-05   31.0  15.335161   3.58  12.1250  16.210  18.5650  26.25  5.436830
...        ...        ...    ...      ...     ...      ...    ...       ...
1978-08   31.0  12.054194   3.92   9.5450  11.420  14.8300  27.25  4.595054
1978-09   30.0  19.391333   5.13  15.2425  19.920  24.5975  33.50  7.025105
1978-10   31.0  17.150000   4.58  14.0650  17.210  19.9550  28.21  5.257599
1978-11   30.0  20.723000  11.08  17.0625  21.440  24.9800  29.04  5.463517
1978-12   31.0  21.371613   6.92  16.2500  19.950  25.7250  41.46  8.710566

[108 rows x 104 columns]

In [171]:
# 以每個月為群組的mean, min, max
ym = data.groupby(data.index.to_period('M')).agg(['mean', 'min', 'max'])
ym

                    Yr_Mo_Dy                              RPT
                        mean        min        max       mean   min    max
Yr_Mo_Dy
1970-01  1970-01-16 00:00:00 1970-01-01 1970-01-31  13.152581  4.79  22.92  \
1970-02  1970-02-14 12:00:00 1970-02-01 1970-02-28  14.820714  7.25  23.29
1970-03  1970-03-16 00:00:00 1970-03-01 1970-03-31  14.941613  6.38  24.17
1970-04  1970-04-15 12:00:00 1970-04-01 1970-04-30  14.733333  6.71  26.83
1970-05  1970-05-16 00:00:00 1970-05-01 1970-05-31  10.185161  3.33  21.84
...                      ...        ...        ...        ...   ...    ...
1978-08  1978-08-16 00:00:00 1978-08-01 1978-08-31   9.645161  3.04  19.33
1978-09  1978-09-15 12:00:00 1978-09-01 1978-09-30  10.913667  0.79  26.75
1978-10  1978-10-16 00:00:00 1978-10-01 1978-10-31   9.897742  2.04  21.67
1978-11  1978-11-15 12:00:00 1978-11-01 1978-11-30  16.151667  7.38  30.21
1978-12  1978-12-16 00:00:00 1978-12-01 1978-12-31  16.175484  6.21  29.33

                VAL                     ROS  ...    MUL        CLO
               mean   min    max       mean  ...    max       mean   min
Yr_Mo_Dy                                     ...
1970-01   11.731935  2.17  23.67  13.083871  ...  15.71   7.626452  2.08  \
1970-02   13.776071  6.38  26.75  12.643929  ...  20.41   8.415357  1.17
1970-03   11.496129  3.37  20.46  13.180968  ...  20.71   9.710645  3.25
1970-04   11.843667  3.92  23.16  12.711333  ...  16.42  10.178333  2.13
1970-05    9.154194  2.42  18.91   9.720323  ...  16.92   8.784516  1.75
...             ...   ...    ...        ...  ...    ...        ...   ...
1978-08    8.259355  1.75  18.25   9.032258  ...  15.87   5.536774  0.79
1978-09   10.895000  1.21  19.21  10.635000  ...  17.00   8.939000  0.71
1978-10    8.670968  0.21  21.00   9.295806  ...  14.62   8.243871  1.92
1978-11   14.802667  4.54  27.63  13.508000  ...  18.46  10.676000  3.29
1978-12   13.748065  3.21  24.79  15.635161  ...  21.00  11.028710  2.67

                       BEL                     MAL
            max       mean   min    max       mean    min    max
Yr_Mo_Dy
1970-01   17.92  12.403871  1.71  28.12  17.192903   5.96  32.00
1970-02   17.83  14.899643  4.29  24.83  18.016786   5.29  28.96
1970-03   17.79  15.041290  4.21  22.83  19.093226   7.17  34.08
1970-04   18.00  13.237000  6.21  25.29  16.899667   8.75  25.12
1970-05   16.29  13.989355  5.58  27.50  15.335161   3.58  26.25
...         ...        ...   ...    ...        ...    ...    ...
1978-08   15.09  10.466774  5.00  21.79  12.054194   3.92  27.25
1978-09   18.12  15.680333  4.71  26.83  19.391333   5.13  33.50
1978-10   15.37  13.776774  5.09  21.29  17.150000   4.58  28.21
1978-11   18.08  17.404667  4.92  24.17  20.723000  11.08  29.04
1978-12   21.50  13.859677  1.21  26.08  21.371613   6.92  41.46

[108 rows x 39 columns]

In [176]:
# 以每年的同一個月為群組的mean, min, max
data.groupby(data.index.month).agg(['mean', 'min', 'max'])

                    Yr_Mo_Dy                              RPT
                        mean        min        max       mean   min    max
Yr_Mo_Dy
1        1974-01-15 21:20:00 1970-01-01 1978-01-31  15.247348  1.63  35.38  \
2        1974-02-14 12:00:00 1970-02-01 1978-02-28  13.279252  1.42  33.84
3        1974-03-16 02:40:00 1970-03-01 1978-03-31  13.321039  1.46  33.84
4        1974-04-15 14:40:00 1970-04-01 1978-04-30  12.560667  3.42  29.79
5        1974-05-16 02:40:00 1970-05-01 1978-05-31  11.608674  1.63  28.79
6        1974-06-15 14:40:00 1970-06-01 1978-06-30  10.672778  2.21  23.21
7        1974-07-16 02:40:00 1970-07-01 1978-07-31  10.350394  1.25  25.84
8        1974-08-16 02:40:00 1970-08-01 1978-08-31   9.342151  2.42  26.38
9        1974-09-15 14:40:00 1970-09-01 1978-09-30  11.528667  0.79  31.42
10       1974-10-16 02:40:00 1970-10-01 1978-10-31  12.724229  2.04  28.08
11       1974-11-15 14:40:00 1970-11-01 1978-11-30  13.359630  2.67  30.84
12       1974-12-16 02:40:00 1970-12-01 1978-12-31  14.257670  1.79  30.42

                VAL                     ROS  ...    MUL       CLO
               mean   min    max       mean  ...    max      mean   min
Yr_Mo_Dy                                     ...
1         13.234265  0.67  29.88  13.428961  ...  22.50  9.878423  0.04  \
2         12.209803  0.63  28.16  11.798661  ...  23.63  8.291535  0.50
3         11.740824  1.50  26.92  12.870251  ...  22.50  9.114875  0.25
4         10.061259  0.54  27.71  12.329741  ...  19.41  8.336444  0.67
5          9.630143  1.25  26.00  11.316452  ...  21.62  7.878889  0.50
6          8.910593  1.00  20.17  10.666000  ...  16.75  7.062333  0.54
7          8.411864  0.96  19.41   9.693011  ...  17.41  6.574050  0.67
8          7.608100  0.83  18.25   9.615269  ...  22.71  5.703047  0.04
9         10.269370  0.83  28.50  10.821741  ...  21.46  7.027370  0.29
10        11.041183  0.21  25.84  11.572688  ...  20.33  8.207527  0.21
11        12.043630  1.21  30.34  11.731519  ...  22.54  8.529593  0.04
12        12.356846  0.37  25.29  13.119068  ...  25.00  9.350645  0.13

                       BEL                     MAL
            max       mean   min    max       mean   min    max
Yr_Mo_Dy
1         23.75  14.867849  1.71  38.20  19.396057  4.17  40.12
2         22.58  12.996535  2.08  32.08  17.025197  3.17  37.04
3         23.63  13.119785  2.25  29.29  17.013584  2.04  35.00
4         20.67  12.051556  2.88  27.00  14.728111  2.29  33.04
5         18.46  12.456308  2.67  28.12  13.902652  3.58  29.50
6         20.00  12.140222  2.96  23.42  13.119259  2.58  32.79
7         17.83  11.569211  3.25  24.50  12.518100  2.13  29.63
8         23.71   9.994588  1.63  24.25  11.953548  2.17  34.33
9         22.42  12.478222  1.63  28.79  15.576852  2.08  35.13
10        21.92  13.912437  2.21  34.83  17.262903  3.33  36.63
11        22.58  13.854556  1.25  33.34  18.758259  4.38  38.66
12        23.58  13.803477  0.67  29.20  19.517778  4.58  41.46

[12 rows x 39 columns]

In [175]:
# 以每年每週為群組的詳細統計資料
data.groupby(data.index.to_period('W')).mean()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,,
1969-12-29/1970-01-04,1970-01-02 12:00:00,9.470000,5.522500,10.457500,3.427500,4.927500,3.855000,7.907500,5.085000,6.387500,4.437500,9.405000,15.937500
1970-01-05/1970-01-11,1970-01-08 00:00:00,12.762857,9.290000,12.945714,4.941429,7.840000,7.380000,10.571429,7.515714,8.192857,6.315714,9.547143,15.998571
1970-01-12/1970-01-18,1970-01-15 00:00:00,12.484286,12.530000,11.857143,5.470000,10.005714,8.081429,9.468571,8.950000,8.120000,7.671429,11.612857,17.060000
1970-01-19/1970-01-25,1970-01-22 00:00:00,16.440000,15.818571,15.154286,8.298571,12.118571,10.454286,10.462857,11.958571,10.462857,11.071429,17.802857,20.201429
1970-01-26/1970-02-01,1970-01-29 00:00:00,14.302857,14.274286,14.557143,6.988571,12.147143,9.690000,11.177143,10.280000,9.251429,8.727143,14.034286,17.355714
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-11-27/1978-12-03,1978-11-30 00:00:00,14.934286,11.232857,13.941429,5.565714,10.215714,8.618571,9.642857,7.685714,9.011429,9.547143,11.835714,18.728571
1978-12-04/1978-12-10,1978-12-07 00:00:00,20.740000,19.190000,17.034286,9.777143,15.287143,12.774286,14.437143,12.488571,13.870000,14.082857,18.517143,23.061429
1978-12-11/1978-12-17,1978-12-14 00:00:00,16.758571,14.692857,14.987143,6.917143,11.397143,7.272857,10.208571,7.967143,9.168571,8.565714,11.102857,15.562857
1978-12-18/1978-12-24,1978-12-21 00:00:00,11.155714,8.008571,13.172857,4.004286,7.825714,6.290000,7.798571,8.667143,7.151429,8.072857,11.845714,18.977143
1978-12-25/1978-12-31,1978-12-28 00:00:00,14.951429,11.801429,16.035714,6.507143,9.660000,8.620000,13.708571,10.477143,10.868571,11.471429,12.947143,26.844286

In [178]:
# 以每年的同一週為群組的mean, min, max
data.groupby(data.index.isocalendar().week).agg(['mean', 'min', 'max'])

                Yr_Mo_Dy                              RPT
                    mean        min        max       mean   min    max
week
1    1974-03-18 01:36:00 1970-01-01 1978-01-08  14.401500  2.92  29.20  \
2    1974-01-10 18:40:00 1970-01-05 1978-01-15  15.519524  2.00  28.75
3    1974-01-17 18:40:00 1970-01-12 1978-01-22  14.818730  1.63  33.12
4    1974-01-24 18:40:00 1970-01-19 1978-01-29  16.519048  5.00  35.38
5    1974-01-31 18:40:00 1970-01-26 1978-02-05  14.554921  2.71  33.84
6    1974-02-07 18:40:00 1970-02-02 1978-02-12  13.591429  3.13  28.84
7    1974-02-14 18:40:00 1970-02-09 1978-02-19  14.723968  5.58  28.01
8    1974-02-21 18:40:00 1970-02-16 1978-02-26  12.170794  1.54  25.62
9    1974-02-28 18:40:00 1970-02-23 1978-03-05  11.893333  1.42  26.30
10   1974-03-07 18:40:00 1970-03-02 1978-03-12  13.396349  4.33  33.84
11   1974-03-14 18:40:00 1970-03-09 1978-03-19  14.302698  1.46  33.04
12   1974-03-21 18:40:00 1970-03-16 1978-03-26  12.855238  3.71  22.95
13   1974-03-28 18:40:00 1970-03-23 1978-04-02  13.423333  2.79  27.12
14   1974-04-04 18:40:00 1970-03-30 1978-04-09  13.902063  4.17  28.71
15   1974-04-11 18:40:00 1970-04-06 1978-04-16  12.846825  5.13  29.79
16   1974-04-18 18:40:00 1970-04-13 1978-04-23  12.106825  3.67  27.84
17   1974-04-25 18:40:00 1970-04-20 1978-04-30  11.179841  3.46  26.83
18   1974-05-02 18:40:00 1970-04-27 1978-05-07  12.370476  1.63  22.54
19   1974-05-09 18:40:00 1970-05-04 1978-05-14  13.334127  4.83  24.46
20   1974-05-16 18:40:00 1970-05-11 1978-05-21  10.369365  2.42  25.17
21   1974-05-23 18:40:00 1970-05-18 1978-05-28  11.668413  2.62  28.79
22   1974-05-30 18:40:00 1970-05-25 1978-06-04  10.576667  3.04  21.84
23   1974-06-06 18:40:00 1970-06-01 1978-06-11  10.957937  3.37  23.21
24   1974-06-13 18:40:00 1970-06-08 1978-06-18  10.274762  2.21  20.75
25   1974-06-20 18:40:00 1970-06-15 1978-06-25  11.188730  2.92  22.71
26   1974-06-27 18:40:00 1970-06-22 1978-07-02  10.070952  3.75  19.46
27   1974-07-04 18:40:00 1970-06-29 1978-07-09  10.586508  4.33  25.84
28   1974-07-11 18:40:00 1970-07-06 1978-07-16   9.284286  2.75  18.63
29   1974-07-18 18:40:00 1970-07-13 1978-07-23  11.251270  1.71  21.54
30   1974-07-25 18:40:00 1970-07-20 1978-07-30  10.009206  1.25  20.33
31   1974-08-01 18:40:00 1970-07-27 1978-08-06   9.948889  3.75  22.42
32   1974-08-08 18:40:00 1970-08-03 1978-08-13   9.585238  2.67  18.75
33   1974-08-15 18:40:00 1970-08-10 1978-08-20   9.241111  3.17  26.38
34   1974-08-22 18:40:00 1970-08-17 1978-08-27   9.223492  2.42  24.30
35   1974-08-29 18:40:00 1970-08-24 1978-09-03   9.309206  2.50  19.25
36   1974-09-05 18:40:00 1970-08-31 1978-09-10  10.860317  3.37  29.54
37   1974-09-12 18:40:00 1970-09-07 1978-09-17  11.591587  1.79  31.42
38   1974-09-19 18:40:00 1970-09-14 1978-09-24   9.939683  0.79  24.79
39   1974-09-26 18:40:00 1970-09-21 1978-10-01  13.972698  4.63  27.00
40   1974-10-03 18:40:00 1970-09-28 1978-10-08  12.761587  4.29  25.29
41   1974-10-10 18:40:00 1970-10-05 1978-10-15  11.975238  3.25  25.92
42   1974-10-17 18:40:00 1970-10-12 1978-10-22  12.759206  3.63  28.08
43   1974-10-24 18:40:00 1970-10-19 1978-10-29  13.572540  2.04  27.71
44   1974-10-31 18:40:00 1970-10-26 1978-11-05  13.259841  3.67  22.25
45   1974-11-07 18:40:00 1970-11-02 1978-11-12  14.153175  3.33  30.84
46   1974-11-14 18:40:00 1970-11-09 1978-11-19  14.187937  3.50  30.21
47   1974-11-21 18:40:00 1970-11-16 1978-11-26  11.808095  2.67  23.16
48   1974-11-28 18:40:00 1970-11-23 1978-12-03  13.617619  3.33  26.20
49   1974-12-05 18:40:00 1970-11-30 1978-12-10  14.150476  4.67  29.33
50   1974-12-12 18:40:00 1970-12-07 1978-12-17  14.572381  2.21  29.50
51   1974-12-19 18:40:00 1970-12-14 1978-12-24  13.346508  1.79  26.54
52   1974-12-26 18:40:00 1970-12-21 1978-12-31  14.451746  3.00  30.42
53   1973-12-30 12:00:00 1970-12-28 1977-01-02  11.928571  3.71  23.83

            VAL                     ROS  ...    MUL        CLO
           mean   min    max       mean  ...    max       mean   min    max
week                                     ...
1     12.190167  0.67  25.75  12.836000  ...  19.83   9.729000  0.58  21.04  \
2     13.416032  1.08  26.63  14.021746  ...  20.08   9.456349  0.33  21.54
3     13.449365  3.08  25.58  12.516984  ...  21.00  10.216032  0.04  21.54
4     14.599524  2.83  29.88  14.021429  ...  22.50  10.580317  1.63  21.79
5     12.828730  1.17  26.38  13.108730  ...  22.21   9.339206  0.50  23.75
6     12.388254  0.79  27.04  11.837302  ...  20.71   8.506667  0.67  22.58
7     13.259683  4.04  28.16  12.586508  ...  23.63   8.469048  0.92  20.91
8     11.600635  0.63  24.79  11.256984  ...  20.41   8.153175  0.75  16.96
9     10.922381  1.42  22.29  11.473492  ...  17.96   7.774921  1.75  19.04
10    11.826984  1.50  26.92  12.678095  ...  21.92   8.617619  0.25  22.75
11    11.907937  2.00  25.41  13.820476  ...  21.00   9.239524  0.71  23.63
12    11.805238  3.13  21.46  12.429524  ...  20.71   8.935556  0.37  19.67
13    11.804286  1.54  24.67  13.503016  ...  22.50   9.933968  1.67  20.67
14    10.739841  1.87  20.46  13.714444  ...  18.91   9.233651  1.50  17.83
15     9.560317  1.79  22.29  11.209206  ...  17.96   8.700952  1.38  20.54
16    10.735714  0.54  27.71  11.850317  ...  18.12   8.298254  1.38  18.71
17     9.146984  1.42  23.16  12.457460  ...  16.42   7.301429  0.50  18.00
18    10.566508  3.37  19.46  11.113492  ...  14.04   8.213651  1.29  15.46
19    10.345556  1.83  17.79  12.329683  ...  16.92   8.842063  2.29  15.83
20     8.877778  1.63  22.95  11.197143  ...  16.75   6.998413  1.42  18.46
21     9.602540  1.25  26.00  11.299206  ...  21.62   8.062540  0.96  17.79
22     8.800000  2.88  19.55  10.747460  ...  17.33   7.214127  0.92  17.50
23     9.628095  3.13  18.71  10.565556  ...  14.58   7.416667  0.96  20.00
24     8.628571  1.71  18.29  10.927302  ...  14.04   6.692540  0.54  15.59
25     8.930000  1.79  20.17   9.968889  ...  16.75   7.091429  0.79  17.83
26     9.141587  1.79  17.46  10.834127  ...  13.67   7.004444  1.17  15.21
27     8.231746  1.00  18.08   9.291905  ...  17.41   6.405079  0.96  17.83
28     7.395079  1.96  16.17   9.732857  ...  16.42   6.177143  0.67  13.50
29     8.740000  0.96  17.88  10.285079  ...  14.09   7.470952  0.79  15.67
30     8.186984  2.58  16.29   9.109048  ...  15.63   6.191429  0.92  13.33
31     8.233333  1.08  19.41  10.063333  ...  13.17   5.755556  0.79  13.04
32     8.453016  1.17  16.42   8.537937  ...  15.16   6.176825  0.46  15.96
33     7.114444  1.46  18.25  10.051429  ...  22.71   5.527143  0.79  23.71
34     7.483016  0.83  16.21   9.767460  ...  13.46   5.769841  0.13  15.54
35     7.356825  1.46  16.46  10.069206  ...  14.29   5.648413  0.04  15.04
36     9.656349  0.83  20.54  10.533651  ...  16.25   6.806667  0.29  13.75
37     9.854762  1.75  28.50  10.871746  ...  21.46   6.797937  0.29  22.42
38     9.111746  1.21  23.09  10.290952  ...  14.75   5.998730  0.29  17.79
39    12.874286  3.13  25.08  11.388254  ...  17.54   8.542698  0.46  18.12
40    10.910635  3.33  21.00  11.620952  ...  20.33   8.359206  1.08  19.12
41    10.224444  0.21  22.25  11.625238  ...  19.87   7.093651  0.21  21.92
42    11.014286  2.71  22.46  11.293651  ...  18.91   8.062063  1.04  19.12
43    12.104603  1.21  25.84  11.921270  ...  20.30   9.701905  3.63  20.88
44    12.079206  1.79  20.30  11.874762  ...  16.88   8.457778  1.71  16.13
45    13.276032  2.46  30.34  12.471429  ...  22.54   9.756349  0.75  20.71
46    12.635873  1.79  27.63  12.207778  ...  20.79   8.906984  0.92  22.58
47    10.164921  1.21  26.46  10.886667  ...  17.37   6.927302  1.21  16.66
48    12.306349  1.71  24.87  11.993175  ...  17.88   8.603810  0.04  18.63
49    12.694921  0.42  24.79  11.992222  ...  21.00   9.749841  2.13  21.50
50    12.990635  1.25  25.17  12.644286  ...  17.08   9.238254  0.13  20.75
51    11.626984  0.54  24.96  12.458095  ...  18.71   8.494921  0.92  19.08
52    11.518730  1.46  25.29  14.459683  ...  25.00   9.679524  0.79  23.58
53     7.279286  0.37  16.38  13.881429  ...  13.83   6.172143  0.13  16.04

            BEL                     MAL
           mean   min    max       mean   min    max
week
1     14.848667  2.21  38.20  18.837167  4.17  32.91
2     14.464762  1.71  31.08  18.547460  6.79  34.70
3     15.083651  5.58  28.71  19.908889  5.96  32.66
4     16.128095  2.75  34.42  20.700159  5.83  40.12
5     13.770476  2.08  27.71  18.193968  6.46  38.79
6     13.568413  2.17  27.63  17.834286  5.29  29.50
7     13.213810  3.29  32.08  16.909841  6.54  37.04
8     12.523016  2.33  24.83  17.304444  5.09  33.09
9     11.780000  2.13  23.33  15.780159  3.17  27.54
10    12.778413  2.37  29.29  16.951746  5.41  28.79
11    12.312857  2.25  28.08  16.206032  5.00  35.00
12    13.587302  2.96  24.75  17.363175  4.75  29.17
13    14.604762  2.50  28.88  17.964286  2.04  31.20
14    12.955397  2.88  23.67  16.384444  3.71  34.08
15    12.292063  4.46  27.00  15.853175  4.33  33.04
16    11.770317  3.21  23.75  13.523175  4.17  26.87
17    11.305397  3.75  25.29  13.063968  2.29  26.92
18    12.123651  3.29  27.50  14.116984  3.79  27.16
19    13.049206  4.71  24.37  14.999365  4.83  26.83
20    11.208889  4.12  23.33  12.541111  3.58  26.08
21    13.389365  3.21  28.12  14.673968  4.04  29.50
22    12.200952  2.67  26.38  12.935556  2.58  28.04
23    12.373333  5.25  21.34  14.435397  5.04  32.79
24    12.029048  3.21  23.42  12.856984  3.13  27.16
25    12.529524  2.96  22.46  13.171746  3.08  27.33
26    12.202698  4.21  24.50  11.928730  4.54  20.54
27    11.360000  4.04  23.00  12.100794  4.50  29.63
28    10.932698  3.25  21.34  11.883333  2.13  25.29
29    12.522540  3.33  24.17  13.896667  2.50  25.37
30    11.075714  3.58  20.83  12.256825  2.88  23.58
31    10.447460  3.71  20.58  12.362698  3.75  20.25
32    10.484286  3.75  23.33  12.499048  4.12  28.79
33     9.783968  1.87  23.25  11.032222  2.17  34.33
34     9.715873  1.63  22.29  12.330317  3.37  25.58
35    10.474762  2.67  24.25  12.658571  3.83  26.12
36    11.701746  1.63  22.58  14.681270  4.04  27.33
37    12.084127  3.79  25.75  15.217143  2.83  35.13
38    11.537619  2.83  23.04  14.514603  2.08  29.63
39    14.573492  2.21  28.79  17.790476  5.54  33.50
40    13.462698  3.17  26.71  16.958889  3.75  32.96
41    13.210317  3.88  34.83  15.909048  3.33  36.51
42    13.080159  3.37  32.63  17.057778  5.37  32.71
43    16.614127  4.58  28.75  19.785238  8.87  36.63
44    13.978095  3.50  26.00  17.035397  6.17  31.91
45    16.321905  1.96  33.34  20.690952  6.34  38.04
46    13.771111  1.92  30.91  20.228571  6.00  38.66
47    11.308889  1.25  26.38  16.803810  4.38  34.83
48    13.552222  4.04  28.79  17.943651  7.50  31.88
49    14.610476  4.04  27.50  20.308413  6.92  36.08
50    14.191746  2.29  29.20  18.861429  6.92  31.49
51    13.425238  2.88  28.16  18.556984  7.41  38.25
52    12.861587  0.67  27.46  20.211905  4.58  41.46
53     8.146429  3.00  14.88  15.949286  7.12  25.70

[53 rows x 39 columns]

In [173]:
# 只取 'RPT'~'SHA' 欄位
ym.loc[:, 'RPT':'SHA'].head(3)

                RPT                     VAL                     ROS
               mean   min    max       mean   min    max       mean   min
Yr_Mo_Dy
1970-01   13.152581  4.79  22.92  11.731935  2.17  23.67  13.083871  4.42  \
1970-02   14.820714  7.25  23.29  13.776071  6.38  26.75  12.643929  7.08
1970-03   14.941613  6.38  24.17  11.496129  3.37  20.46  13.180968  5.50

                      KIL                     SHA
            max      mean   min    max       mean   min    max
Yr_Mo_Dy
1970-01   24.08  5.810968  0.75  13.17   9.507742  2.50  19.33
1970-02   21.71  6.894643  1.54  13.75  11.923929  3.67  24.96
1970-03   31.83  7.494194  1.87  13.88  11.484194  5.13  19.38